html {
  height: 100%;
}

body {
  width: 100%;
  height:100%;
  margin:0;
  padding:0;
  font-family: "Arial", "Helvetica", sans-serif;
  -webkit-user-select: none;
}

#ecran-blanc{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fefefe;
  opacity: 0.5;
  z-index: 9999;
}

#commandes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  text-align: center;
  background-color: #86c9da;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-top-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 5px;
}

#zone-action {
  display: flex;
  width: 100%;
  height: 90%;
}

#zone-gauche {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

#reserve {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 75%;
  width: 100%;
  background-color: #005384;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-top-width: 5px;
  border-left-width: 10px;
  border-right-width: 5px;
  border-bottom-width: 5px;
}

#consigne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  background-color: #86c9da;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-top-width: 5px;
  border-left-width: 10px;
  border-right-width: 5px;
  border-bottom-width: 10px;
  padding: 10px;
}

.titre-consigne {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-size: 2vmin;
}

#ordre {
  display: inline-block;
}

.surligne {
  color: #b50053;
  font-weight: bold;
}

#receptacle {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;
  width: 50%;
  background-image: url(img/paysage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-top-width: 5px;
  border-left-width: 5px;
  border-right-width: 10px;
  border-bottom-width: 10px;
}

#base {
  background-image: url(img/base.png);
  height: 9.8%;
  width: 100%;
  max-height: 140px;
  max-width: 332px;
  margin-bottom: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

#toit {
  background-image: url(img/toit.png);
  height: 5.8%;
  width: 100%;
  max-height: 83px;
  max-width: 332px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

#choix-niveau {
  z-index: 99999;
  height: 50%;
  width: 40%;
  min-width: 200px;
  position: fixed;
  left: 30%;
  top: 20%;
  justify-content: center;
  align-items: center;
}

#formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: solid black 1px;
  background-color:#ffe2cd;
  padding: 0 2% 2% 2%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.2);
}

.centre {
  text-align: center;
}

.titre {
  font-weight: bold;
  font-size: 1em;
}

.espace, .espace-large {
  display: block;
  width: 100%;
}

.espace {
  height: 2.8%;
  width: 100%;
  background-image: url(img/espace.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 332px;
  max-height: 40px;
}

.espace-large {
  background-image: none;
  height: 10%;
}

.draggable {
  display: flex;
  justify-content: center;
  background-image: url(img/etage.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 100px;
  max-width: 332px;
}

.div-texte {
  position: relative;
  height: 2.4vmin;
  top: 40%;
  font-size: 2vmin;
  color: white;
  font-weight: bold;
  background-color: black;
  padding: 0 5px 0 5px;
}

#reserve .draggable {
  margin-left: 1%;
  width: 25%;
  height: 30%;
}

#receptacle .draggable {
  height: 7%;
  width: 100%;
}

.draggable:hover {
  cursor: pointer;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

@media screen and (max-aspect-ratio: 14/11)  {
  .consigne {
    font-size: 1.8vmin;;
  }
  .div-texte {
    top: 46%;
  }
}
@media screen and (max-aspect-ratio: 34/43)  {
  .div-texte {
    top: 54%;
  }
}
@media screen and (min-aspect-ratio: 13/6)  {
  .div-texte {
    font-size: 3vmin;
    height: 4vmin;
  }
}
@media screen and (min-aspect-ratio: 23/6)  {
  #consigne {
    display: none;
  }
  #locomotive {
    width: 10.3%;
  }
  .draggable {
    width: 8%;
  }
  .espace {
    width: 0.86%
  }
}