/* .btcommande {
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 3px 4px;
  color: #ffffff;
  font-size: 2vmin;
  cursor: pointer;
  background: #6c6c6c;
  background: linear-gradient(top, #6c6c6c 0%, #535353 100%);
  background: -moz-linear-gradient(top, #6c6c6c 0%, #535353 100%);
  background: -webkit-linear-gradient(top, #6c6c6c 0%, #535353 100%);
  background: -o-linear-gradient(top, #6c6c6c 0%, #535353 100%);
  border: 1px solid #6c6c6c;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  -o-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
} */

.btcommande {
  box-sizing: border-box;
  padding:6px;
  margin: 3px 4px;
  font:bold 2vmin Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	/* width:100px; */
  border:1px solid #ccc;
  cursor: pointer;
}

.btcommande:hover {
  /* background: linear-gradient(top, #868686 0%, #6c6c6c 100%);
  background: -moz-linear-gradient(top, #868686 0%, #6c6c6c 100%);
  background: -webkit-linear-gradient(top, #868686 0%, #6c6c6c 100%);
  background: -o-linear-gradient(top, #868686 0%, #6c6c6c 100%); */
  background: #d0d0d0;
}

.btcommande:disabled {
  opacity:0.5;
  cursor: not-allowed;
}

.consigne {
  /* font-family: "Arial", "Helvetica", sans-serif; */
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 2vmin;
}